
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "sans-serif"; 
    position: relative;
}


.active{
    background-color: #1abc9c;
    padding: 10px 5px;
    border-radius: 12px;
}

.btn-menu{
    background-color: #1abc9c;
    display: flex;
    border: none;
    display: inline;
    font-size: 0.80rem;
    padding: 0.75rem;
}

.flex-box{
    height: 100vh;
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    padding-top: 7rem;
}

.masthead{
    background-color: #1abc9c;
}

.nav-text{
    color:white ;
}

.nav-text:hover{
    color: #1abc9c;
}

.bg-nav{
    background-color:#2c3e50 ;
}

.masthead-avatar{
    width: 240px;
}

.masthead-heading{
    font-size: 4rem;
    line-height: 3.5rem;
}

.masthead-subheading{
    font-size: 1.5rem;
    /* padding-bottom: 4rem; */
}

.page-section-heading{
    padding-top: 7rem;
    /* padding-bottom: 1.4rem; */
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.contact-me{
    color: #2c3e50 ;
    font-size: 3rem;
    line-height: 2.5rem;
    /* font-weight: 700; */
}
.about-section{
    background-color: #1abc9c;
    margin-top: 5rem;
}

.btn-xl{
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    margin-bottom: 5rem;
}

.btn-send{
    background-color:#1abc9c ;
}

footer{
    background-color:#2c3e50 ;
    padding:5rem 0 ;
    font-size: 1.25rem;
    
}

#nav-element{
    padding: 2rem 0.4rem;
    transition: 0.2s;
}

.link-boostrap{
    color: #1abc9c;
}

.link-boostrap:hover{
    color: #15967d;
}

.form-control{
    border-top-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: none;
}

h4{
    /* font-weight: 700; */
    line-height: 1.2;
}

.lead{
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-social{
    border-radius: 100%;
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-header:hover{
    color: #1abc9c;
}


.line{
    height: 0.25rem;
    width: 7rem;
    border-radius: 1rem;
}

  .portfolio-item {
    position: relative;
  }
  
  .portfolio-item-caption-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1abc9c;
    /* border-radius: 0.75rem; */
  }
  
  .portfolio-item:hover .portfolio-item-caption-content {
    opacity: 1;
  }
  
  .fa-plus{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .portfolio-modal-title{
    font-size: 3rem;
    line-height:2.5rem ;
    color: #2c3e50;
  }

 .btn-portfolio-close{
    background-color: #1abc9c;
    color: white;
    border-radius: 0.45rem;
    border: #1abc9c;
 }

 .btn-portfolio-close:hover{ 
    background-color: #15967d;
    color: white;
 } 